/* ***************** */
/* HEADER - NAV */
/* ***************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 7rem;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
}

.logo {
  height: 4.8rem;
}

.main-nav-list {
  display: flex;
  gap: 6.4rem;
  align-items: center;
}

/* ***************** */
/* SECTION - HERO */
/* ***************** */
.section-hero {
  max-width: 95vw;
  margin-top: 0.8rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  border-radius: 4px;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 85vh;
  margin-bottom: 3.2rem;

  display: flex;
  align-items: center;
}

/* ***************** */
/* SECTION - FACTS */
/* ***************** */

.section-facts {
  text-align: center;
  font-size: 1.8rem;
}

.fact-number {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.fact-text {
  color: #30150d;
}

/* ***************** */
/* SECTION - WHAT */
/* ***************** */
.section-what {
  background-color: #d6d0cf;
  margin-bottom: 1.6rem !important;
  height: 70rem;
}

.mission {
  padding-left: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  align-self: center;
}

.mission-text {
  margin-bottom: 1.2rem;
  line-height: 1.7;
}

.mission-text:last-of-type {
  margin-bottom: 3.2rem;
}

.mission-text span {
  font-weight: 900;
}

.mission-img-box {
  background-image: url(../img/tiger-face.jpg);
  background-size: cover;
  background-position: center;
}

/* ***************** */
/* SECTION - GALLERY */
/* ***************** */
.section-gallery {
  position: relative;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 30rem);
  gap: 0.8rem;
  padding: 0.8rem;
  max-width: 100vw;
  margin: 0 auto;
  background-color: #452c25;
  margin-bottom: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;

  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.i-1 {
  grid-row: span 2;
}

.i-2 {
  grid-column: span 2;
}

.i-4 img {
  object-position: 0 55%;
}

.i-5 img {
  object-position: 0 28%;
}

.i-7 img {
  object-position: 0 37%;
}

.i-8 {
  grid-row: span 2;
}

.i-9 {
  grid-column: span 2;
}

/* ***************** */
/* SECTION - LATEST */
/* ***************** */
.section-latest {
  background-color: #d6d0cf;
  margin-bottom: 9.6rem;
  padding-top: 4.8rem;
  padding-bottom: 3.2rem;
}

.section-latest .grid {
  margin-bottom: 2.4rem;
}

.post {
  background-color: #eae8e7;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.heading-card {
  font-size: 2.4rem;
  color: #26110a;
  margin-bottom: 1.2rem;
}

.post-text-box {
  padding: 1.2rem;
}

.post-text-box p:last-of-type {
  margin-bottom: 1.6rem;
}

.post--big {
  grid-row: span 2;
}

.post--big img {
  width: 100%;
  max-height: 40rem;
}

.post-preview {
  font-size: 1.4rem;
  line-height: 1.4;
}

.heading-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-right: 0.8rem;
  box-shadow: inset 0 -2px 6px rgba(214, 208, 207, 0.5);
}

.heading-box-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #262626;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.post--sml img {
  max-width: 48%;
}

/* ***************** */
/* SECTION - HELP */
/* ***************** */
.section-help {
  margin-bottom: 9.6rem;
}

.option {
  height: 45rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);

  background-size: cover;
  background-position: center;
}

.opt-1 {
  background-image: linear-gradient(
      rgba(69, 44, 37, 0.25),
      rgba(69, 44, 37, 0.25)
    ),
    url(../img/orang-utan.jpg);
}

.opt-2 {
  background-image: linear-gradient(
      rgba(69, 44, 37, 0.25),
      rgba(69, 44, 37, 0.25)
    ),
    url(../img/baby-gorilla.jpg);
  background-position: 0 190%;
}

.opt-3 {
  background-image: linear-gradient(
      rgba(69, 44, 37, 0.2),
      rgba(69, 44, 37, 0.2)
    ),
    url(../img/plastic-water.jpg);
}

.option-text-box {
  height: 50%;
  background-color: rgba(214, 208, 207, 0.75);
  padding: 1.2rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.option-text {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

/* JOIN SECTION */
.join {
  background-color: #d6d0cf;
  border-radius: 4px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}

.work-img-box {
  background-image: url(../img/volunteering.jpg);
  background-size: cover;
  background-position: center;
}

.work {
  padding-left: 4.8rem;
  margin: 6.4rem 0;
  font-size: 1.6rem;
  line-height: 1.7;
}

.work-text {
  margin-bottom: 1.6rem;
}

.work-text span {
  font-weight: 700;
}

/* SUCCESSES SECTION */
.icon-success {
  width: 3.2rem;
  margin-bottom: 2.4rem;
}

.success-number {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.success-text {
  font-size: 1.6rem;
  line-height: 1.4;
}

/* ***************** */
/* SECTION - PARTNERS */
/* ***************** */
.section-partners {
  margin-bottom: 9.6rem;
}

.heading-partners {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.logos {
  height: 4.8rem;
  display: flex;
  justify-content: center;
  gap: 6.4rem;
  filter: grayscale(1);
}

/* ***************** */
/* SECTION - CTA */
/* ***************** */
.section-cta {
  background-color: #d6d0cf;
  margin-bottom: 8rem;
  height: 70rem;
}

.cta-img-box {
  background-image: url(../img/polar-bear.jpg);
  background-size: cover;
  background-position: center;
}

.cta-box {
  padding-left: 4.8rem;
  margin: auto 0;
}

.cta-text {
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 2.4rem;
}

.cta-text span {
  font-weight: 700;
}

/* FORM */
.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-field label {
  font-size: 1.6rem;
  font-weight: 600;
}

.form-field input,
.form-field select {
  font-family: "DM Sans", sans-serif;
  color: #452c25;
  background-color: #eae8e7;
  border: 0.5px solid #452c25;
  border-radius: 4px;
  padding: 0.8rem;
}

.btn-container {
  grid-column: span 2;
}

.btn-container p {
  padding-top: 1.2rem;
  font-size: 1.2rem;
  color: #220f09;
}

/* ***************** */
/* SECTION - FOOTER */
/* ***************** */
.grid--footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 10rem;
  margin-bottom: 2.4rem;
}

.footer {
  border-top: 0.3px solid #d6d0cf;
  padding-top: 4.8rem;
  line-height: 1.7;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: #30150d;
}

.col--contact,
.col--nav {
  padding-top: 1.2rem;
  font-size: 1.4rem;
}

/* NEWSLETTER COL */
.col--newsletter {
  border-right: 1px solid #eae8e7;
  border-radius: 4px;
  padding: 1.6rem;
  padding-right: 3.2rem;
}

.newsletter {
  background-color: #eae8e7;
  display: inline-block;
  padding: 1.8rem;
  border-radius: 4px;
}

.news-input-box {
  margin-bottom: 1.8rem;
}

.heading-newsletter {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  color: #452c25;
}

.newsletter-info-text {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.newsletter-container {
  display: flex;
  gap: 2.4rem;
}

.newsletter label {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.newsletter input {
  display: block;
  font-family: "DM Sans", sans-serif;
  color: #452c25;
  padding: 0.4rem;
}

.newsletter input,
.newsletter input[type="checkbox"] {
  border: 0.5px solid #452c25;
  border-radius: 4px;
  background-color: #fff;
}

.newsletter input[type="checkbox"] {
  width: 1.6rem;
  height: 1.6rem;
}

.agreement-box {
  display: flex;
  gap: 0.6rem;
  font-size: 1.2rem;
  margin-bottom: 2.4rem;
}

/* NAV COL */
.footer-nav-list {
  margin-bottom: 1.4rem;
}

.footer-nav-list li {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1.6rem;
}

.footer-nav-general li:not(:last-child) {
  margin-bottom: 0.4rem;
  color: #220f09;
}

.link-info {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #6e5b56;
}

/* CONTACT COL */
.col-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.contact {
  font-style: normal;
  font-weight: 600;
  color: #452c25;
}

.contact span {
  font-weight: 600;
}

.copyright {
  font-size: 1rem;
}

.social-logo-box {
  display: flex;
  gap: 1.4rem;
  margin-bottom: 3.2rem;
}

.social-logo-box img {
  stroke: #6e5b56;
  cursor: pointer;
}
